# Node.js specific:
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*


# Ignore build output
dist/
build/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore coverage files
coverage/

# Ignore temporary files
*.tmp
*.swp
